<div class=" pad">
  <section class="container col-md-12">
    <div class="row">
      <mat-card class=" mainCardAnimationTV col-xs-12 col-sm-12 col-md-12">
        <div class="container col-md-12">
          <span class="titleStyle">
            <mat-button-toggle-group>
              <mat-button-toggle (click)="togglePopular()">Popular</mat-button-toggle>&nbsp;
              <mat-button-toggle (click)="toggleTopRated()">Top Rated</mat-button-toggle>&nbsp;
              <mat-button-toggle (click)="toggleUpcoming()">upcoming </mat-button-toggle>&nbsp;
              <!-- <mat-button-toggle (click)="togglePlaying()">Now Playing</mat-button-toggle>&nbsp; -->
            </mat-button-toggle-group>
          </span>
        </div>
        <br>
        <div class="col-md-12">
          <div class="row">
            <div class="offset-sm-1 col-sm-10" *ngFor="let popTvShow of popularTvShows | keyvalue">
              <div class="list-group-item shadow  pointer" style="background-image: http://image.tmdb.org/t/p/w185/A30ZqEoDbchvE7mCZcSp6TEwB1Q.jpg">
                <span>
                  <div>
                    <img src="http://image.tmdb.org/t/p/w185/{{popTvShow.value.poster_path}}" style="height: 380px"
                      class="pull-left pointer">
                    <mat-card class="col-sm-6 col-md-6 pull-right DescPos"> {{popTvShow.value.overview}}</mat-card>
                    <div class="col-sm-6 col-md-6">
                      <mat-list class="list-padding-Mtab">
                        <mat-list-item class="pointHeadings"></mat-list-item>
                        <mat-list-item class="pointHeadings">1st air date: {{popTvShow.value.first_air_date | date:'dd MMM yyyy'}}</mat-list-item>
                        <mat-list-item class="pointHeadings">Rating: {{popTvShow.value.vote_average}}</mat-list-item>
                        <mat-list-item class="pointHeadings"></mat-list-item>
                        <mat-list-item class="pointHeadings">
                          <mat-slide-toggle style="">Add to watch</mat-slide-toggle>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </div>
                </span>
              </div>
              <br>
            </div>
            <div class="col-sm-1 col-md-1"></div>
            <!-- <app-watch-list></app-watch-list> -->
            <!-- <mat-card class="col-sm-2 col-md-2 WatchList">Watch List</mat-card> -->
          </div>
        </div>
      </mat-card>
    </div>
  </section>
</div>
