.HeadPosition {
  padding: 38px;
  font-size: 32px;
}

.mat-toolbar{
  background-color: #17a2b8;
}

.mat-toolbar-row {
  justify-content: center;
}

.heading {
  padding: 5px;
  color: white;
}

.tvIcon {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
