.HeadPosition {
  padding: 38px;
  font-size: 32px;
}

.mat-toolbar-row{
  justify-content: center;
}

.heading {
  padding: 5px;
}

.tvIcon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-tab-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
