<mat-toolbar class="container">
  <mat-toolbar-row class="row">
    <span class="col-4 requestForm">
      <p><a href="">Click here to fill out request form</a></p>
    </span>
    <span class="HeadPosition col-4">
      <span class="heading">ViewHub</span>
      <mat-icon class="tvIcon">tv</mat-icon>
    </span>
    <app-search></app-search>
  </mat-toolbar-row>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>
