<div class="pad canvas">
  <section class="container col-md-12">
    <div class="row">
      <mat-card class="mainCardAnimationMovie col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="container col-sm-12 col-md-12">
          <div class="row">
            <div class="col-4">
              <span class="titleStyle">
                <h4>{{newsMovie}}</h4>
              </span>
            </div>
            <div class="col-8">
              <mat-button-toggle-group>
                  <mat-button-toggle (click)="getTrendingMoviesbyDay()">Day</mat-button-toggle>&nbsp;
                  <mat-button-toggle (click)="getTrendingMoviesbyWeek()">Week</mat-button-toggle>&nbsp;
                </mat-button-toggle-group>
            </div>
          </div>
        </div>
        <br>
        <div *ngFor="let trendMovie of trendingMovies | keyvalue; let i = index">
          <div class="shadow list-group-item clearfix canvas">
            <span>
              <img src="http://image.tmdb.org/t/p/w185/{{trendMovie.value.poster_path}}" style="max-height: 200px"
                class="pull-left pointer">
              <i *ngIf="!toggleMovieOverview" (click)="showMovieOverviewBtn(i)" class="fa fa-info-circle pull-right pointer btn-outline-info infoIconAttr"></i>
              <i *ngIf="toggleMovieOverview" (click)="hideMovieOverviewBtn ()" class="fa fa-minus-circle pull-right pointer btn-outline-info infoIconAttr"></i>
              <ul class="list-padding">
                <li><span class="pointHeadings"> Release Date:</span> {{trendMovie.value.release_date}}</li>
                <li><span class="pointHeadings">Language:</span> {{trendMovie.value.original_language}}</li>
                <li><span class="pointHeadings">Rating:</span> {{trendMovie.value.vote_average}}</li>
                <li><span class="pointHeadings">Description:</span>
                  <span [ngClass]="{DescAttr: toggleMovieOverview }" *ngIf="selectedMovieIndex == i">
                    {{trendMovie.value.overview}}</span></li>
              </ul>
            </span>
          </div>
          <br>
        </div>

      </mat-card>
      <mat-card class="mainCardAnimationTV col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="container col-sm-12 col-md-12">
              <div class="row">
                <div class="col-4">
                  <span class="titleStyle">
                    <h4>{{newsTvshows}}</h4>
                  </span>
                </div>
                <div class="col-8">
                    <mat-button-toggle-group>
                        <mat-button-toggle (click)="getTrendingTVbyDay()">Day tv</mat-button-toggle>&nbsp;
                        <mat-button-toggle (click)="getTrendingTVbyWeek()">Week tv</mat-button-toggle>&nbsp;
                      </mat-button-toggle-group>
                </div>
              </div>
            </div>
        <br>
        <div *ngFor="let trendTV of trendingTvShows | keyvalue; let i = index;">
          <div class="shadow list-group-item clearfix canvas">
            <span>
              <img src="http://image.tmdb.org/t/p/w185/{{trendTV.value.poster_path}}" style="max-height: 200px" class="pull-left pointer">
              <i *ngIf="!toggleTVOverview" (click)="showTVOverviewBtn(i)" class="fa fa-info-circle pull-right pointer btn-outline-info infoIconAttr"></i>
              <i *ngIf="toggleTVOverview" (click)="hideTVOverviewBtn()" class="fa fa-minus-circle pull-right pointer btn-outline-info infoIconAttr"></i>
              <ul class="list-padding">
                <li><span class="pointHeadings"> first Air Date:</span> {{trendTV.value.first_air_date}}</li>
                <li><span class="pointHeadings">Language:</span> {{trendTV.value.original_language}}</li>
                <li><span class="pointHeadings">Rating:</span> {{trendTV.value.vote_average}}</li>
                <li><span class="pointHeadings">Description:</span>
                  <span [ngClass]="{DescAttr: toggleMovieOverview }" *ngIf="selectedTVIndex == i">{{trendTV.value.overview}}</span></li>
              </ul>
            </span>
          </div>
          <br>
        </div>
      </mat-card>
    </div>
  </section>
</div>

<!-- <div *ngFor="let recipe of recipes">
  <a href="#" class="list-group-item clearfix">
    <div class="pull-left">
      <span class="pull-right">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </span>
      <h4 class="list-group-item-heading">{{recipe.name}}</h4>
      <p class="list-group-item-text">{{recipe.desc}}</p>
    </div>
    <span class="pull-right">
      <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" style="max-height: 50px">
    </span>
  </a>
  <br>
</div> -->
