<div class="pad canvas">
  <section class="container col-md-12">
    <div class="row">
      <mat-card class="mainCardAnimationMovie col-xs-12 col-sm-12 col-md-12">
        <span class="titleStyle">
          {{title}}
        </span>
        <br><br>
        <div class="container col-md-12">
          <div class="row">
            <div class="col-sm-9 col-md-9 list-group-item shadow canvas">
              <span>
                <img src="http://image.tmdb.org/t/p/w185/5Kg76ldv7VxeX9YlcQXiowHgdX6.jpg" style="height: 300px" class="pull-left pointer">

                <ul class="list-padding-Mtab">
                  <li class="pointHeadings">Full title: </li>
                  <li class="pointHeadings">Release date: </li>
                  <li class="pointHeadings"></li>
                </ul>
              </span>
            </div>
            <div class="col-sm-1 col-md-1"></div>
            <mat-card class="col-sm-2 col-md-2"></mat-card>
          </div>
        </div>
      </mat-card>
    </div>
  </section>
</div>
