<div class="pad canvas">
  <section class="container col-md-12">
    <div class="row">
      <mat-card class="mainCardAnimationMovie col-xs-12 col-sm-12 col-md-12">
        <div class="container col-md-12">
          <span class="titleStyle">
            <mat-button-toggle-group>
              <mat-button-toggle (click)="togglePopular()">Popular</mat-button-toggle>&nbsp;
              <mat-button-toggle (click)="togglePlaying()">Now Playing</mat-button-toggle>&nbsp;
              <mat-button-toggle (click)="toggleTopRated()">Top Rated</mat-button-toggle>&nbsp;
              <mat-button-toggle (click)="toggleUpcoming()">upcoming </mat-button-toggle>&nbsp;
            </mat-button-toggle-group>
          </span>
        </div>
        <br>
        <div class="container col-md-12">
          <div class="row">
            <div class="col-sm-9 col-md-9 " *ngFor="let Movie of Movies | keyvalue; let i = index">
              <div class="list-group-item shadow canvas contentAttr">
                <span>
                  <div>
                    <img src="http://image.tmdb.org/t/p/w185/{{Movie.value.poster_path}}" style="height: 380px"
                      class="pull-left pointer">
                    <mat-card class="col-sm-6 col-md-6 pull-right DescPos"> {{Movie.value.overview}}</mat-card>
                    <div class="col-sm-6 col-md-6" style="backgroundColor: Blue">
                      <mat-list class="list-padding-Mtab">
                        <mat-list-item #titleText class="pointHeadings">{{Movie.value.original_title}}</mat-list-item>
                        <mat-list-item class="pointHeadings">Release date: {{Movie.value.release_date}}</mat-list-item>
                        <mat-list-item class="pointHeadings">Genre: {{Movie.value.genre_ids}}</mat-list-item>
                        <mat-list-item class="pointHeadings">Rating: {{Movie.value.vote_average}}</mat-list-item>
                        <mat-list-item class="pointHeadings"></mat-list-item>
                        <mat-list-item class="pointHeadings">
                          <mat-slide-toggle (click)="toggleWatch(i)">Add to watch</mat-slide-toggle>
                          <p></p>
                        </mat-list-item>
                      </mat-list>
                    </div>

                  </div>
                </span>
              </div>
              <br>
            </div>
            <div class="col-sm-1 col-md-1"></div>
            <app-watch-list [movieTitle_I]="movieTitle"></app-watch-list>
            <!-- <p >test text</p> -->
          </div>
        </div>
      </mat-card>
    </div>
  </section>
</div>
