<div class="pad">
  <section class="container col-md-12">
    <div class="row">
      <mat-card class="mainCardAnimationMovie col-xs-12 col-sm-12 col-md-12">
        <div class="container col-md-12">
          <span class="titleStyle">
            <mat-button-toggle-group>
              <mat-button-toggle (click)="togglePopular()">Popular</mat-button-toggle>&nbsp;
              <mat-button-toggle (click)="toggleTopRated()">Top Rated</mat-button-toggle>&nbsp;
              <mat-button-toggle (click)="toggleUpcoming()">upcoming </mat-button-toggle>&nbsp;
              <!-- <mat-button-toggle (click)="togglePlaying()">Now Playing</mat-button-toggle>&nbsp; -->
            </mat-button-toggle-group>
          </span>
        </div>
        <br>
        <div class="container col-md-12">
          <div class="row">
            <div class="offset-sm-1 col-sm-10 " *ngFor="let popMovie of Movies | keyvalue; let i = index">
              <div class="list-group-item shadow item-card-colour pointer" (click)=onSelectMovie(i)>
                <span>
                  <div>
                    <img src="http://image.tmdb.org/t/p/w185/{{popMovie.value.poster_path}}" style="height: 380px"
                      class="pull-left pointer">
                    <mat-card class="col-sm-6 col-md-6 pull-right DescPos"> {{popMovie.value.overview |  truncate: 200 }}</mat-card>
                    <div class="col-sm-6 col-md-6">
                      <mat-list class="list-padding-Mtab">
                        <mat-list-item #titleText class="pointHeadings">{{popMovie.value.original_title | uppercase}}</mat-list-item>
                        <mat-list-item class="pointHeadings">Release date: {{popMovie.value.release_date | date:'dd MMM yyyy'}}</mat-list-item>
                        <mat-list-item class="pointHeadings">Rating: {{popMovie.value.vote_average}}</mat-list-item>
                        <mat-list-item class="pointHeadings"></mat-list-item>
                        <!-- <mat-list-item class="pointHeadings">
                          <mat-slide-toggle (click)="toggleWatch(i)">Add to watch</mat-slide-toggle>
                          <p></p>
                        </mat-list-item> -->
                      </mat-list>
                    </div>
                  </div>
                </span>
              </div>
              <br>
            </div>
            <!-- <app-watch-list [movieTitle_I]="movieTitle"></app-watch-list> -->
            <!-- <p >test text</p> -->
          </div>
        </div>
      
      </mat-card>
        <div>
          <router-outlet></router-outlet>
        </div>
    </div>
  </section>
</div>
