<div class="pad canvas">
  <section class="container col-md-12">
    <div class="row">
      <mat-card class="mainCardAnimation col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <span class="titleStyle">
          {{newsMovie}}
        </span>
        <!-- <ul>
          <li *ngFor="let trendMovie of trendingMovies.title"></li>
          {{trendMovie.title}}
        </ul> -->

        <!-- <p>
          {{trendingMovies}}

        </p> -->
      </mat-card>

      <mat-card class="mainCardAnimation col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <span class="titleStyle">
          {{newsTvshows}}
        </span>
      </mat-card>
    </div>
  </section>
</div>
