.pad {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  // background-color: #efefef;
}

.list-padding {
  padding-left: 160px;
  list-style: none;


  .pointHeadings {
    font-weight: bolder;
  }
}
