<div class="pad canvas">
  <section class="container col-md-12">
    <div class="row">
      <mat-card class="mainCardAnimationMovie col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <span class="titleStyle">
          <h4>{{newsMovie}}</h4>
        </span>
        <div *ngFor="let trendMovie of trendingMovies | keyvalue; let i = index">
          <div class="list-group-item clearfix canvas">
            <span>
              <img src="http://image.tmdb.org/t/p/w185/{{trendMovie.value.poster_path}}" style="max-height: 200px"
                class="pull-left pointer">
              <i *ngIf="!toggleOverview" (click)="showOverviewBtn(i)" class="fa fa-info-circle pull-right pointer btn-outline-info infoIconAttr"></i>
              <i *ngIf="toggleOverview" (click)="hideOverviewBtn(i)" class="fa fa-minus-circle pull-right pointer btn-outline-info infoIconAttr"></i>
              <ul class="list-padding">
                <li><span class="pointHeadings "> Release Date:</span> {{trendMovie.value.release_date}}</li>
                <li><span class="pointHeadings">Language:</span> {{trendMovie.value.original_language}}</li>
                <li><span class="pointHeadings">Rating:</span> {{trendMovie.value.vote_average}}</li>
                <li *ngIf="toggleOverview"><span class="pointHeadings">Description:</span>
                  {{trendMovie.value.overview}}</li>
              </ul>
            </span>


          </div>
          <br>
        </div>

      </mat-card>
      <mat-card class="mainCardAnimationTV col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <span class="titleStyle">
          <h4> {{newsTvshows}} </h4>
        </span>
        <div *ngFor="let trendTV of trendingTvShows | keyvalue; let i = index;">
          <div class="list-group-item clearfix canvas">
            <span>
              <img src="http://image.tmdb.org/t/p/w185/{{trendTV.value.poster_path}}" style="max-height: 200px" class="pull-left pointer">
              <i *ngIf="!toggleOverview" (click)="showOverviewBtn()" class="fa fa-info-circle pull-right pointer btn-outline-info infoIconAttr"></i>
              <i *ngIf="toggleOverview" (click)="hideOverviewBtn()" class="fa fa-minus-circle pull-right pointer btn-outline-info infoIconAttr"></i>
              <ul class="list-padding">
                <li><span class="pointHeadings"> first Air Date:</span> {{trendTV.value.first_air_date}}</li>
                <li><span class="pointHeadings">Language:</span> {{trendTV.value.original_language}}</li>
                <li><span class="pointHeadings">Description:</span> {{trendTV.value.vote_average}}</li>
                <li *ngIf="toggleOverview"><span class="pointHeadings">Description:</span> {{trendTV.value.overview}}</li>
              </ul>
            </span>
          </div>
          <br>
        </div>
      </mat-card>
    </div>
  </section>
</div>

<!-- <div *ngFor="let recipe of recipes">
  <a href="#" class="list-group-item clearfix">
    <div class="pull-left">
      <span class="pull-right">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </span>
      <h4 class="list-group-item-heading">{{recipe.name}}</h4>
      <p class="list-group-item-text">{{recipe.desc}}</p>
    </div>
    <span class="pull-right">
      <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" style="max-height: 50px">
    </span>
  </a>
  <br>
</div> -->
