/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

.canvas {
  background-color: #efefef;
}

.pad {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  // background-color: #efefef;
}

.mainCardAnimation {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.9s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: translateY(100%);
    overflow-x: hidden;
  }

  100% {
    opacity: 1;
  }
}

.mainCardAnimationTV {
  opacity: 1;
  animation-name: fadeInOpacityTV;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.9s;
}

@keyframes fadeInOpacityTV {
  0% {
    opacity: 0;
    transform: translateX(100%);
    overflow-x: hidden;
  }

  100% {
    opacity: 1;
  }
}

.mainCardAnimationMovie {
  opacity: 1;
  animation-name: fadeInOpacityMovie;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.9s;
}

@keyframes fadeInOpacityMovie {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    overflow-x: hidden;
  }

  100% {
    opacity: 1;
  }
}

.spacing {
  width: 2px;
}

.pointer {
  cursor: pointer;
}

.itemListContainer {
  padding-left: 12px;
}

.infoIconAttr {
  font-size: 25px;
}

.shadow {
  box-shadow: 5px;
}

.pad {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  // background-color: #efefef;
}

.list-padding {
  padding-left: 160px;
  list-style: none;


  .pointHeadings {
    font-weight: bolder;
  }

  .DescAttr {
    color: #117a8b;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
}